@import "option-selection-card.variables.css";

.option-selection-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: var(--osc-border-width) solid var(--osc-border-color);
  transition: border var(--osc-transition-time) ease;
  height: var(--osc-height);
  width: var(--osc-width);

  &, img { border-radius: var(--osc-border-radius); }

  .header-container {
    position: relative;
    height: var(--osc-header-container-height);

    img {
      width: 100%;
      height: var(--osc-header-container-img-height);
      object-fit: none;
      object-position: top;
      transition: height var(--osc-transition-time) ease;
    }

    .info {
      position: absolute;
      bottom: 0;
      transition: all var(--osc-transition-time) ease;
      padding: var(--osc-header-container-info-padding);

      p, h3 { transition: color var(--osc-transition-time) ease; }

      h3 {
        font-size: var(--osc-header-container-heading-font-size);
        margin-block: var(--osc-header-container-heading-margin);
      }

      .subtext {
        text-transform: uppercase;
        font-size: var(--osc-header-container-subtext-font-size);
      }
    }
  }

  .bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--osc-bottom-container-padding);

    .time {
      color: var(--osc-bottom-time-text-color);
      text-transform: capitalize;
    }

    .price {
      font-size: var(--osc-bottom-price-font-size);
      span {
        font-size: var(--osc-bottom-price-font-size);
        text-decoration: line-through;
        opacity: 0.2;
      }
    }

    button {
      background-color: var(--osc-bottom-button-background-color);
      color: var(--osc-bottom-button-text-color) !important;
      padding: var(--osc-bottom-button-padding);
      border-radius: var(--osc-bottom-button-border-radius);
      border: var(--osc-bottom-button-border-width) solid var(--osc-bottom-button-background-color);
      transition: all var(--osc-transition-time) ease-in-out;
    }
  }

  &:hover {
    border-color: var(--osc-border-color__hover);
    img { height: 100%; }
    .info {
      backdrop-filter: blur(var(--osc-header-container-info-blur__hover));
      border-radius: var(--osc-border-radius);
      * { color: var(--osc-header-container-info-text-color__hover); }
    }
    button {
      background-color: var(--osc-bottom-button-background-color__hover);
      color: var(--osc-bottom-button-text-color__hover) !important;
    }
  }
}