@import "./option-selection-card.global";

.option-selection-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: $option-selection-card-border-width solid $option-selection-card-border-color;
  transition: border $option-selection-card-transition-time ease;
  height: $option-selection-card-height;
  width: $option-selection-card-width;

  &, img {
    border-radius: $option-selection-card-border-radius;
  }

  .header-container {
    position: relative;
    height: $option-selection-card-header-container-height;

    img {
      width: 100%;
      height: $option-selection-card-header-container-img-height;
      object-fit: none;
      object-position: top;
      transition: height $option-selection-card-transition-time ease;
    }

    .info {
      position: absolute;
      bottom: 0;
      transition: all $option-selection-card-transition-time ease;
      padding: $option-selection-card-header-container-info-padding;

      h3 {
        font-size: $option-selection-card-header-container-heading-font-size;
        margin-block: $option-selection-card-header-container-heading-margin;
      }

      .subtext {
        text-transform: uppercase;
        font-size: $option-selection-card-header-container-subtext-font-size;
      }
    }
  }

  .bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $option-selection-card-bottom-container-padding;

    .time {
      color: $option-selection-card-bottom-time-text-color;
      text-transform: capitalize;
    }

    .price {
      font-size: $option-selection-card-bottom-price-font-size;
      span {
        font-size: $option-selection-card-bottom-price-font-size;
        text-decoration: line-through;
        opacity: 0.2;
      }
    }

    button {
      background-color: $option-selection-card-bottom-button-background-color;
      color: $option-selection-card-bottom-button-text-color !important;
      padding: $option-selection-card-bottom-button-padding;
      border-radius: $option-selection-card-bottom-button-border-radius;
      border: $option-selection-card-bottom-button-border-width solid $option-selection-card-bottom-button-background-color;
      transition: all $option-selection-card-transition-time ease-in-out;
    }
  }

  &:hover {
    border-color: $option-selection-card-border-color__hover;
    img { height: 100%; }
    .info {
      backdrop-filter: blur($option-selection-card-header-container-info-blur__hover);
      border-radius: $option-selection-card-border-radius;
    }
    button {
      background-color: $option-selection-card-bottom-button-background-color__hover;
      color: $option-selection-card-bottom-button-text-color__hover !important;
    }
  }
}