@import "global";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: $text-font-family;
  color: $text-color;
  line-height: $text-line-height;
  font-size: $font-size-base;
}

#content {
  display: flex;
  flex-direction: column;
  gap: $indent-huge;
  padding-inline: 10%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  color: $headings-color;
  line-height: $headings-line-height;
}

h1 {
  font-size: $heading1-size;
  margin-bottom: $heading1-margin-bottom;
}

h2 {
  font-size: $heading2-size;
  font-weight: $heading2-font-weight;
}

h3 { font-size: $heading3-size; }

#content {
  padding-top: 5%;
}

/* Blocks */
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block--centralized {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $indent-large;
  }
}

.block--bright {
  position: relative;
  height: 600px;
  background: url("/images/pages/alpaca_on_the_background_of_the_retro_miami_sun.webp") no-repeat center;
}