@import "global";

@media (prefers-color-scheme: dark) {
  body {
    background: $dark-theme-body-color;
  }

  * {
    color: $dark-theme-text-color;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $dark-theme-headings-color;
  }

  .block--bright {
    background: url("/images/pages/alpaca_retro_dark_theme.webp") no-repeat center;
  }
}