@import "../../../stylesheet/global";
@import "cta-additional-container.global";

.cta--additional-container {
  display: flex;
  flex-direction: column;
  gap: $cta-container-space-between-elements;
  border-radius: $cta-container-border-radius;

  padding: $cta-container-padding;

  box-shadow: 0 0 20px $cta-container-shadow-color;

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 20px $clr-shadow-dark;
    svg { fill: $clr-darken-white; }
  }

  .head {
    display: flex;
    align-items: center;
    gap: 10px;
    svg { width: $cta-container-icon-width; }
    h3 { font-weight: $cta-container-heading-font-width; }
  }

  ul {
    list-style: unset;
    padding-left: 15px;
  }

  &.left { transform: rotate(-10deg); }
  &.right { transform: rotate(10deg); }
}