$cta-container-space-between-elements: 20px;
$cta-container-border-radius: 15px;
$cta-container-padding: 20px;
$cta-container-shadow-color: rgb(210,210,210);
$cta-container-icon-width: 40px;
$cta-container-heading-font-width: 600;