@import "../../../stylesheet/global";

$gs-components-height: 50px;
$gs-components-border-radius: 10px;

$gs-input-field-width: 300px;

$gs-icon-size: 20px;

$gs-button-padding-inline: 20px;
$gs-button-background: $clr-black;
$gs-button-color: white;
$gs-button-background_hover: white;
$gs-button-color_hover: $clr-black;
$gs-button-animation-duration: 0.2s;