@keyframes yo-yo {
  0% { transform: translateY(10%); }
  50% { transform: translateY(-10%); }
}

@keyframes yo-yo-sideways {
  0% { transform: translateX(75%) translateY(2%); }
  50% { transform: translateX(95%) translateY(2%); }
  100% { transform: translateX(85%) translateY(2%); }
}