* {
  margin: 0;
  padding: 0;
  font-family: var(--text-font-family);
  font-optical-sizing: auto;
  color: var(--text-color);
  line-height: var(--text-line-height);
  font-size: var(--font-size-base);
  box-sizing: border-box;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

html {
  scroll-padding-top: var(--scroll-padding-top);
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  background: var(--body-color);
  overflow-x: hidden;
  -ms-overflow-x: hidden !important;
}

#content {
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headings-font-family);
  color: var(--headings-color);
  line-height: var(--headings-line-height);
}

h1 {
  font-size: var(--heading1-size);
  margin-bottom: var(--heading1-margin-bottom);
}

h2 {
  font-size: var(--heading2-size);
  margin-bottom: var(--heading2-margin-bottom);
}

h3 { font-size: var(--heading3-size); }

a { text-decoration: none; }

#content {
  padding-top: 5%;
}

/* Blocks */
.block--centralized {
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 60%;
    @media only screen and (max-width: 940px) {
      width: 100%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--indent-large);
  }
}

.block--bright {
  position: relative;
  height: 600px;
  background: url("/images/pages/alpaca_on_the_background_of_the_retro_miami_sun.webp") no-repeat center;
}

body.dark-theme {
  .block--bright {
    background: url("/images/pages/alpaca_retro_dark_theme.webp") no-repeat center;
  }
}

/* Margins */
* {
  &.mb--huge { margin-bottom: var(--indent-huge); }
  &.mb--large { margin-bottom: var(--indent-large); }
  &.mb--medium { margin-bottom: var(--indent-medium); }
  &.mb--small { margin-bottom: var(--indent-small); }
  &.mb--little { margin-bottom: var(--indent-little); }
  &.mb--tiny { margin-bottom: var(--indent-tiny); }

  &.mt--huge { margin-top: var(--indent-huge); }
  &.mt--large { margin-top: var(--indent-large); }
  &.mt--medium { margin-top: var(--indent-medium); }
  &.mt--small { margin-top: var(--indent-small); }
  &.mt--little { margin-top: var(--indent-little); }
  &.mt--tiny { margin-top: var(--indent-tiny); }

  &.mr--huge { margin-right: var(--indent-huge); }
  &.mr--large { margin-right: var(--indent-large); }
  &.mr--medium { margin-right: var(--indent-medium); }
  &.mr--small { margin-right: var(--indent-small); }
  &.mr--little { margin-right: var(--indent-little); }
  &.mr--tiny { margin-right: var(--indent-tiny); }

  &.ml--huge { margin-left: var(--indent-huge); }
  &.ml--large { margin-left: var(--indent-large); }
  &.ml--medium { margin-left: var(--indent-medium); }
  &.ml--small { margin-left: var(--indent-small); }
  &.ml--little { margin-left: var(--indent-little); }
  &.ml--tiny { margin-left: var(--indent-tiny); }
}

@media only screen and (max-width: 768px) {
  .mobile-mh-pi {
    padding-inline: 1%!important;
  }
}