.fill--standard { fill: var(--clr-black); }

/* Logos */
.fill--wordpress { fill: #32373C; }
.fill--react { fill: #087EA4; }
.fill--vue { fill: #41B883; }
.fill--nodejs { fill: #83CD29; }
.fill--sass { fill: #CD6799; }
.fill--laravel { fill: #FF2D20; }