@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    /* Colors */
    --clr-black: rgb(30, 30, 30);
    --clr-black-transporent: rgba(30, 30, 30, 0.2);
    --clr-light-black: rgb(60, 60, 60);
    --clr-darken-white: rgb(240, 240, 240);
    --clr-shadow-light: rgba(200, 200, 200, 0.5);
    --clr-grey: #929191;
    --clr-light-grey: rgb(200, 200, 200);
    --clr-shadow-dark: rgb(40, 40, 40);
    --clr-red: rgb(225, 50, 50);

    /* Indents */
    --indent-tiny: 4px;
    --indent-little: 8px;
    --indent-small: 16px;
    --indent-medium: 32px;
    --indent-large: 64px;
    --indent-huge: 128px;

    /* Typography */
    /* Default text */
    --text-font-family: "Ubuntu", "Fira Sans", Helvetica, Arial, Lucida, sans-serif;
    --text-color: var(--clr-light-black);
    --text-line-height: 1.5;
    --font-size-base: 17px;

    /* Headings */
    --headings-font-family: 'Advent Pro', Helvetica, Arial, Lucida, sans-serif;
    --headings-color: var(--clr-black);
    --headings-line-height: 1.2;
    --heading1-size: 50px;
    --heading1-margin-bottom: var(--indent-medium);
    --heading2-size: 30px;
    --heading2-font-weight: 400;
    --heading3-size: 20px;

    --scroll-padding-top: 100px;

    /* Input fields */
    --input-padding: 15px;
    --input-border-radius: 100px;
    --input-border: 2px solid var(--clr-black);
    --input-background: white;
}

body.dark-theme {
    --text-color: white;
    --headings-color: white;
    --body-color: var(--clr-black);

    --input-background: var(--clr-black);
}

@media only screen and (max-width: 768px) {
    :root {
        --font-size-base: 15px;
        --heading1-size: 40px;
        --heading2-size: 20px;
        --heading3-size: 18px;

        --scroll-padding-top: 50px;
    }
}