@import "service-container.variables.css";

.service--container {
  display: flex;
  flex-direction: column;
  gap: var(--indent-small);
  width: var(--service-container-width);

  padding: var(--service-container-padding);

  p, h3 {
    color: white;
    text-align: var(--service-container-text-align);
  }

  p { font-size: var(--service-container-font-size); }

  &.dark {
    background-color: var(--service-container-dark-color);
  }
  &.light {
    background-color: var(--service-container-light-color);
  }

  @media (prefers-color-scheme: dark) {
    p, h3 { color: var(--clr-black); }

    &.dark {
      background-color: white;
    }
    &.light {
      background-color: darken(white, 10%);
    }
  }
}