:root {
    --footer-gap: 50px;
    --footer-background-color: var(--clr-black);
    --footer-color: white;
    --footer-padding-inline: 3%;
    --footer-padding-bottom: 5%;
    --footer-foot-font-size: calc(var(--font-size-base) - 4px);
    --footer-opacity: 0.5;
    --footer-padding-block: 3%;
    --footer-h3-color: grey;
    --footer-h3-margin-bottom: var(--indent-small);
    --footer-h3-font-size: 14px;
    --footer-a-hover-color: lightgray;
    --footer-a-transition: color 0.1s ease-in-out;
    --footer-font-size: var(--font-size-base);
}

@media only screen and (max-width: 1456px) {
    :root {
        --footer-font-size: calc(var(--font-size-base) - 2px);
    }
}

@media only screen and (max-width: 1334px) {
    :root {
        --footer-font-size: calc(var(--font-size-base) - 4px);
    }
}

@media only screen and (max-width: 768px) {
    :root {
        --footer-font-size: var(--font-size-base);
    }
}