@import "gs.variables.css";

.get-started--input-field {
  background-color: transparent;
  border: none;
  padding-inline: 5px;
  height: var(--gs-components-height);
  width: var(--gs-input-field-width);

  &:focus {
    outline: none;
  }
}