@import "../../../stylesheet/global";

$testimonial-padding: 50px;
$testimonial-border-radius: 10px;
$testimonial-reviewer-photo-width: 70px;
$testimonial-reviewer-name-text-size: $heading3-size + 5;
$dark-theme-testimonial-background-color: $clr-darken-white;
$dark-theme-testimonial-text-color: $clr-black;