:root {
    --cs-st-space-between-elements: 20px;
    --cs-st-border-width: 2px;
    --cs-st-border-color: black;
    --cs-st-container-padding: 20px;
    --cs-st-background-color: rgb(240, 240, 240);
    --cs-st-background-color-hover: white;
    --cs-st-shadow-hover: 5px 15px 25px rgb(150, 150, 150);
    --cs-st-image-max-width: 40%;
    --cs-st-heading-font-weight: 600;
    --cs-st-heading-font-size: calc(var(--heading3-size) + 5px);
    --cs-st-base-font-size: calc(var(--font-size-base) - 2px);
    --cs-st-text-color: var(--clr-black);
}

body.dark-theme {
    --cs-st-shadow-hover: 5px 15px 25px rgb(80, 80, 80);
    --cs-st-background-color: lightgray;
}

@media only screen and (max-width: 768px) {
    :root {
        --cs-st-container-padding: 5px;
        --cs-st-space-between-elements: 5px;
    }
}