@import "../../../stylesheet/animations.css";
@import "card.variables.css";

.info-container {
  position: absolute;
}

.info-container .front, .info-container .back {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 560px) {
    flex-direction: column;
    text-align: center;
  }
  gap: var(--card-space-between-icon-and-title);

  transition: all 0.5s ease-in-out;

  padding: var(--card-padding);
  border-radius: var(--card-border-radius);

  max-width: var(--card-box-max-width);

  h3 { font-size: var(--card-title-size); }

  p.subtitle { font-size: var(--card-subtitle-size); }

  .icon--main { width: var(--card-size-main-icon); }

  * { color: var(--card-front-text-color); }

  p { font-size: var(--card-box-font-size); }
}

.info-container .front {
  box-shadow: 0 20px 20px var(--card-box-shadow-color);
  background: var(--card-front-background-color);

  .info .title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &.icon-near-title .info .title {
    margin-bottom: 10px;

    .icon {
      width: var(--card-size-main-icon-near-title);
    }
  }

  &.icon-top {
    flex-direction: column;
  }
}

.info-container .back {
  border: 2px solid black;
  border-bottom: 4px solid;
  background: var(--card-back-background-color);
}

.info-container .front, .info-container .back {
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.info-container .back {
  opacity: 0;
  transform: translateX(-400%);
  display: unset;
}

.info-container:hover .front:not(.no-back) {
  opacity: 0;
}

.info-container:hover .back {
  opacity: 1;
  transform: translateX(0);
  display: unset;
}

.info-container .icons {
  display: flex;
  gap: 10px;
  margin-top: var(--indent-small);

  .icon:hover {
    animation: yo-yo 0.4s alternate;
  }
}

@media (prefers-color-scheme: dark) {
  .info-container .front {
    background: var(--card-front-background-color);
    box-shadow: 0 20px 20px var(--card-box-shadow-color);
  }

  .info-container .front p, .info-container .front h1, .info-container .front h2, .info-container .front h3 {
    color: var(--card-front-text-color);
  }

  .info-container .front .icon--main {
    fill: var(--card-color-main-icon);
  }

  .info-container .back {
    background: var(--card-back-background-color);
    border: none;
  }

  .info-container .back h3, .info-container .back p {
    color: var(--card-back-text-color);
  }
}