@import "../../../stylesheet/global";

$team-member-container-width: 250px;
$team-member-container-transform__hover: translateY(-5%);

$team-member-info-container-padding: 5px 10px;
$team-member-info-container-width: 230px;
$team-member-info-container-background-color: rgba(240,240,240,0.8);
$team-member-info-container-background-blur: 3px;
$team-member-info-container-heading-weight: 600;
$dark-theme-team-member-info-container-heading-color: $clr-black;

$team-member-photo-height: 400px;
$team-member-photo-border-radius: 10px;