@import 'button.global';

.button {
  padding: $button-padding-standard;
  border-radius: $button-border-radius;
  border: $button-border-width solid $button-filling-background-color;
  text-align: center;
  &, * {transition: all $button-transition-time ease-in-out;}

  &.filling {
    background-color: $button-filling-background-color;
    &, * {color: $button-filling-text-color;}

    &:hover {
      background-color: $button-filling-text-color;
      &, * {color: $button-filling-background-color;}
    }

    @media (prefers-color-scheme: dark) {
      background-color: $dark-theme-button-filling-background-color;
      border-color: $dark-theme-button-filling-background-color;
      &, * {color: $dark-theme-button-filling-text-color;}

      &:hover {
        background-color: $dark-theme-button-filling-text-color;
        &, * {color: $dark-theme-button-filling-background-color;}
      }
    }
  }

  &.outline {
    background-color: $button-outline-background-color;
    &, * {color: $button-outline-text-color;}
    &:hover { box-shadow: 0 10px 20px $clr-shadow-light; }

    @media (prefers-color-scheme: dark) {
      background-color: $button-outline-background-color;
      border-color: $dark-theme-button-outline-text-color;
      &, * {color: $dark-theme-button-outline-text-color;}
      &:hover { box-shadow: 0 10px 20px $clr-shadow-dark; }
    }
  }

  &.long { padding-inline: $button-padding-long-inline; }

  span {
    &:hover { transform: scale(1.2); }
  }
}