@import "../../../../stylesheet/global";

$button-padding-standard: 10px 20px;
$button-padding-long-inline: 100px;

$button-border-radius: 100px;
$button-border-width: 2px;

$button-transition-time: 0.2s;

$button-filling-background-color: $clr-black;
$button-filling-text-color: white;
$button-outline-background-color: transparent;
$button-outline-text-color: $clr-black;
$dark-theme-button-filling-background-color: $clr-darken-white;
$dark-theme-button-filling-text-color: $clr-black;
$dark-theme-button-outline-text-color: $clr-darken-white;