.button {
  padding: var(--button-padding-standard);
  border-radius: var(--button-border-radius);
  border: var(--button-border-width) solid var(--button-filling-background-color);
  text-align: center;
  &, * { transition: all var(--button-transition-time) ease-in-out; }

  &.filling {
    background-color: var(--button-filling-background-color);
    &, * { color: var(--button-filling-text-color); }

    &:hover {
      background-color: var(--button-filling-text-color);
      &, * { color: var(--button-filling-background-color); }
    }
  }

  &.outline {
    background-color: var(--button-outline-background-color);
    &, * { color: var(--button-outline-text-color); }
    &:hover { box-shadow: 0 10px 20px var(--clr-shadow-light); }
  }

  &.long { padding-inline: var(--button-padding-long-inline); }

  span {
    &:hover { transform: scale(1.2); }
  }
}