.select {
    width: 100%;

    select {
        width: 100%;
        padding: var(--input-padding);
        border-radius: var(--input-border-radius);
        border: var(--input-border);
        background-color: var(--input-background);
        outline: none;
    }
}