:root {
  --case-studies-inside-container-width: 32%;
  --case-studies-space-between-containers: 10px;
}

@media only screen and (max-width: 1100px) {
  :root {
    --case-studies-space-between-containers: 0;
    --case-studies-inside-container-width: 33%;
    /*--case-studies-inside-container-width: auto;*/
  }
}