@import "case-study.variables.css";

.case-studies--container {
  display: flex;
  flex-direction: column;
  gap: var(--cs-st-space-between-elements);
  text-decoration: none;

  height: var(--cs-st-height);

  outline: var(--cs-st-border-width) solid var(--cs-st-border-color);
  padding: var(--cs-st-container-padding);

  transition: all 0.2s ease-in-out;

  background-color: var(--cs-st-background-color);

  &:hover {
    background-color: var(--cs-st-background-color-hover);
    box-shadow: var(--cs-st-shadow-hover);
  }

  img {
    height: var(--cs-st-heading-logo-height);
    margin-bottom: 10px;
  }
  h3, .subtitle { font-weight: var(--cs-st-heading-font-weight); }
  h3 { font-size: var(--cs-st-heading-font-size); }
  p:not(.subtitle) { font-size: var(--cs-st-base-font-size); }
  h3, p { color: var(--clr-black); }
}