@import "../../../stylesheet/global";

.heading {
  h1, h2, h3 {
    text-transform: capitalize;
    span {
      font-size: unset;
      color: unset;
      font-weight: 1000;
    }
  }

  .subheading {
    text-transform: uppercase;
    font-size: $font-size-base - 2;
    font-weight: 600;
    color: $clr-light-black;

    @media (prefers-color-scheme: dark) {
      color: lightgray;
    }
  }
}