/* Positioning */
section.row {
  .column {
    margin-inline: 10%;

    &.centralized {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .contrast--column {
    background-color: var(--contrast-background);
    * { color: var(--contrast-text-color); }
    svg { fill: var(--contrast-svg-filling) !important; }
  }

  &.contrast--row {
    svg {
      fill: var(--contrast-svg-filling);
    }
  }
}