@import "../../../../stylesheet/global";

/* Positioning */
section.row {
  .column {
    margin-inline: 10%;

    &.centralized {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .contrast--column {
    background-color: $clr-black;
    * { color: white; }

    @media (prefers-color-scheme: dark) {
      background-color: white;
      * { color: $clr-black; }
      svg { fill: white !important; }
    }
  }

  &.contrast--row {
    svg {
      fill: $clr-black;
      @media (prefers-color-scheme: dark) {
        fill: white;
      }
    }
  }
}