:root {
    --contrast-background: var(--clr-black);
    --contrast-text-color: white;
    --contrast-svg-filling: var(--clr-black);
}

body.dark-theme {
    --contrast-background: white;
    --contrast-text-color: var(--clr-black);
    --contrast-svg-filling: white;
}