@import "../../../stylesheet/global";

footer {
  display: flex;
  flex-direction: column;
  gap: 50px;

  background-color: $clr-black;
  * { color: white; }

  padding-inline: 3%;
  padding-bottom: 5%;

  .head, .foot { display: flex; }
  .foot {
    justify-content: space-between;
    p {
      font-size: $font-size-base - 4;
      opacity: 0.5;
    }
  }

  .head {
    div { padding-block: 3%; }
  }

  h3 {
    color: gray !important;
    margin-bottom: $indent-small;
    font-size: 14px;
  }

  a {
    transition: color 0.1s ease-in-out;
    &:hover { color: lightgray; }
  }
}