@import "../../stylesheet/global";

$testimonials-space-between-sides: 100px;
$testimonials-heading2-size: $heading2-size * 1.5;
$testimonials-paragraph-size: $font-size-base + 5;
$testimonials-svg-quote-width: 90px;
$testimonials-svg-stars-width: 30px;
$testimonials-svg-stars-color: orange;