:root {
  --testimonials-space-between-sides: 100px;
  --testimonials-heading2-size: calc(var(--heading2-size) * 1.5);
  --testimonials-paragraph-size: calc(var(--font-size-base) + 5px);
  --testimonials-svg-quote-width: 90px;
  --testimonials-svg-quote-color: var(--clr-black);
  --testimonials-svg-stars-width: 30px;
  --testimonials-svg-stars-color: orange;
}

body.dark-theme {
  --testimonials-svg-quote-color: var(--clr-darken-white);
}

@media only screen and (max-width: 400px) {
  :root {
    --testimonials-space-between-sides: 30px;
  }
}