@import "team-member.variables.css";

.team-member {
  position: relative;
  display: flex;
  width: var(--tm-container-width);
  transition: transform 0.2s ease-in-out;
  outline: 2px solid var(--clr-black);
  border-radius: var(--tm-photo-border-radius);
  box-shadow: var(--tm-container-shadow);

  .info {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    padding: var(--tm-info-container-padding);
    margin-block: 10px;
    width: 100%;

    background: var(--tm-info-container-background-color);
    backdrop-filter: blur(var(--tm-info-container-background-blur));

    h3 { font-weight: var(--tm-info-container-heading-weight); }

    h3, p { color: var(--tm-info-container-heading-color); }

    div {
      position: relative;
    }
  }

  img {
    height: var(--tm-photo-height);
    width: var(--tm-photo-width);
    object-fit: cover;
    object-position: center;
    border-radius: var(--tm-photo-border-radius);
  }

  &:hover {
    transform: var(--tm-container-transform-hover);
  }
}