@import "fixed-header.variables.css";

.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: var(--fixed-header-margin-top);
  width: var(--fixed-header-width);

  display: flex;
  flex-direction: var(--fixed-header-flex-direction);
  align-items: center;
  justify-content: center;
  gap: var(--fixed-header-space-between-elements);

  padding: var(--fixed-header-padding);
  border-radius:
          var(--fixed-header-border-radius-left)
          var(--fixed-header-border-radius-right)
          var(--fixed-header-border-radius-left)
          var(--fixed-header-border-radius-right);

  background-color: var(--fixed-header-background-color);

  box-shadow: 0 0 10px var(--fixed-header-box-shadow);
  backdrop-filter: blur(var(--fixed-header-background-blur));

  .nav--button {
    background-color: var(--fixed-header-button-color);
    border: none;
    box-shadow: 0 0 5px var(--fixed-header-box-shadow);
    border-radius: var(--fixed-header-border-radius-right);
  }

  * {
    font-size: var(--fixed-header-font-size);
  }
}