:root {
  --fixed-header-margin-top: 20px;
  --fixed-header-space-between-elements: 40px;
  --fixed-header-padding: 15px 20px;
  --fixed-header-font-size: var(--font-size-base);
  --fixed-header-width: auto;

  --fixed-header-border-radius-left: 30px;
  --fixed-header-border-radius-right: 10px;

  --fixed-header-background-color: rgba(255, 255, 255, 0.7);
  --fixed-header-background-blur: 5px;
  --fixed-header-box-shadow: rgba(150, 150, 150, 0.5);
  --fixed-header-button-color: white;
}

body.dark-theme {
  --fixed-header-background-color: rgba(0, 0, 0, 0.8);
  --fixed-header-box-shadow: rgb(50, 50, 50);
  --fixed-header-button-color: var(--clr-black);
}

@media only screen and (max-width: 1508px) {
  :root {
    --fixed-header-font-size: calc(var(--font-size-base) - 1px);
  }
}

@media only screen and (max-width: 1456px) {
  :root {
    --fixed-header-font-size: calc(var(--font-size-base) - 2px);
  }
}

@media only screen and (max-width: 1408px) {
  :root {
    --fixed-header-font-size: calc(var(--font-size-base) - 3px);
  }
}

@media only screen and (max-width: 1357px) {
  :root {
    --fixed-header-width: 60%;
  }
}

@media only screen and (max-width: 1134px) {
  :root {
    --fixed-header-width: 80%;
  }
}

@media only screen and (max-width: 855px) {
  :root {
    --fixed-header-width: 100%;
    --fixed-header-margin-top: 5px;
  }
}

@media only screen and (max-width: 636px) {
  :root {
    --fixed-header-space-between-elements: 10px;
  }
}

@media only screen and (max-width: 546px) {
  :root {
    --fixed-header-padding: 5px 0;
    --nav-button-padding: 10px 5px;
  }
}