@import "../../../stylesheet/global";

$fixed-header-margin-top: 20px;
$fixed-header-space-between-elements: 40px;
$fixed-header-padding: 15px 20px;

$fixed-header-border-radius-left: 30px;
$fixed-header-border-radius-right: 10px;

$fixed-header-background-color: rgba(255,255,255, 0.7);
$dark-theme-fixed-header-background-color: transparentize($clr-black, 0.2);
$fixed-header-background-blur: 5px;
$fixed-header-box-shadow: rgb(200,200,200);
$fixed-header-button-color: white;