@import "nav.variables.css";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1% 5%;

  a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: var(--nav-link-font-size);
    color: var(--nav-link-color);
    font-weight: var(--nav-link-font-weight);
  }

  .buttons {
    display: flex;
    gap: var(--distance-between-navlinks);
  }
}