@import "nav.variables.css";

.nav--button {
  padding: var(--nav-button-padding);
  border-radius: var(--nav-button-border-radius);
  border: var(--nav-button-border-width) solid;
  transition: transform var(--nav-button-animation-duration) ease;

  &.outline {
    background-color: var(--nav-button-outline-background);
  }
  &.filling {
    color: var(--nav-button-filling-text-color);
    background-color: var(--nav-button-filling-background);
  }
  &.not-noticeable {
    border-color: var(--nav-button-not-noticeable-background);
    background-color: var(--nav-button-not-noticeable-background);
  }

  &:hover {
    transform: scale(var(--nav-button-scale));
  }
}