@import "../../../stylesheet/global";

/* Positioning */
section.row {

  // content
  .column {
    margin-inline: 10%;
  }
  .contrast {
    background-color: $clr-black;
    * { color: white; }
  }
}