.get-start--button {
  cursor: pointer;
  height: var(--gs-components-height);
  padding-inline: var(--gs-button-padding-inline);
  border: 2px solid;
  background-color: var(--gs-button-background);
  color: var(--gs-button-color);
  border-radius: var(--gs-components-border-radius);
  transition: all ease var(--gs-button-animation-duration);

  &:hover {
    background-color: var(--gs-button-background-hover);
    color: var(--gs-button-color-hover);
  }
}