.get-started {
  display: flex;
  align-items: center;
  gap: 10px;

  .field {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--clr-darken-white);
    padding-inline: 10px;
    border-radius: var(--gs-components-border-radius);
  }

  @media (prefers-color-scheme: dark) {
    .field {
      background-color: var(--clr-light-black);
    }
  }
}